# macOS files ----
.DS_Store

# History files ----
.Rhistory
.Rapp.history

# Session Data files ----
.RData
.Ruserdata

# RStudio files ----
*.Rproj
.Rproj.user/

# R Environment Variables ----
.Renviron
.Rbuildignore

# User-specific files ----
README.html
inst/doc
data/WISDOM_Balance_x_IPBES_rep_Penny_Mograbi/
data/ipbes-regions/
data/WEO2019-Clean-Cooking-database.xlsx
